
<div class="floater-left block-krishna spacer-on-bottom spacer-on-right">
	Support from:&nbsp;&nbsp;&nbsp;&nbsp;<br /><br />
	<a href="http://ikcm.org">International Krishna Caitanya Mission</a><br />
	<a href="http://michaelgeary.co.uk">Life Coach & Astrologer, Michael Geary</a><br />
	<a href="http://prabhupadavillage.com">Prabhupada Village</a>
</div>

<div class="floater-left block-krishna spacer-on-right spacer-on-bottom">
	Handcrafted by Gauri Rasa<br />
	Copyright 2015, 2016 Gauri Rasa
</div>

</body>
</html>