<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
      
<!-- copyright 2015, 2016 Gauri Rasa -->     
      
<head>
	<style>
	body
	{
		font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif ;
	}
	h1, h2, h3, h4, h5
	{
		font-family: "Comic Sans MS", "Comic Sans", cursive ;
	}
	.hide
	{
		display: none;
	}
	.show
	{
		display: inline;
	}
	a:hover
	{
		color: orange;
	} 	
	.black
	{
		background-color:black;
	}
	.saffron
	{
		color:#ffbf80;
	}
	.orange
	{
		background-color: orange;
	}
	.saffronbg
	{
		background-color:#ffbf80;
	}
	.menubox
	{
		padding-top:	20px;
		padding-right:	20px;
		padding-left:	20px;
		padding-bottom:	20px;
		border-width:	1px;
		border-style:	solid;
		border-color:	white;
	}
	.sidebar
	{
		width:	21%;
	}
	.left
	{
		float:	left;
		margin-right: 20px;
	}
	.right
	{
		float:	right;
		margin-left: 20px;
	}
	</style>


</head>
      

<body class="saffron black">

    
  <h1 class="black">Globally Devoted <span style="font-size: smaller;">.info</span></h1>
  <p><span class="right">Handcrafted by Gauri Rasa
				<br />
				Copyright 2015 Gauri Rasa</span>
  Welcome to Globally Devoted. The site to help you connect to practical resources for daily devotional life.</p>


<hr />
<br /><br /><br />


<h2>Edit the Vishnu</h2>


	<f:metadata>
		<f:viewParam name="v" value="#{saciMata.vishnuIDRequested}" />
		<f:viewAction action="#{ saciMata.readyVishnuForEditing() }" />
	</f:metadata>


<div id="vishnuForm" class="show">

    <h:form id="newVishnuForm">

      <h:panelGrid columns="2">
        <h:outputLabel value="ID : "/>
        <h:inputText value="#{saciMata.vishnu.id}"
        	required="true" readonly="true" rendered="true"
		maxlength="16" />

        <h:outputLabel value="Short Title : "/>
        <h:inputText value="#{saciMata.vishnu.shortTitle}"
        	required="true"
		requiredMessage="this title shows in the sidebars."
		maxlength="16" />

        <h:outputLabel value="Long Title : "/>
        <h:inputText value="#{saciMata.vishnu.longTitle}"
        	required="true"
		requiredMessge="a more descriptive title."
		maxlength="64" />

        <h:outputLabel value="separate keywords by commas :  " />
        <h:inputTextarea value="#{saciMata.vishnu.mayContain}" cols="64" rows="2"
        	maxlength="256"/>
      </h:panelGrid>

      <h:commandButton value="Edit Vishnu" action="#{saciMata.editVishnu()}">
      </h:commandButton>

    </h:form>
   
</div>
<hr />
<br /><br /><br />





<p>#{saciMata.debug}</p>
<hr />




</body>
</html>
