<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
      
<!-- copyright 2015, 2016 Gauri Rasa -->     
      
<head>
	<style>
	body
	{
		font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif ;
	}
	h1, h2, h3, h4, h5
	{
		font-family: "Comic Sans MS", "Comic Sans", cursive ;
	}
	.hide
	{
		display: none;
	}
	.show
	{
		display: inline;
	}
	a:hover
	{
		color: orange;
	} 	
	.black
	{
		background-color:black;
	}
	.saffron
	{
		color:#ffbf80;
	}
	.orange
	{
		background-color: orange;
	}
	.saffronbg
	{
		background-color:#ffbf80;
	}
	.menubox
	{
		padding-top:	20px;
		padding-right:	20px;
		padding-left:	20px;
		padding-bottom:	20px;
		border-width:	1px;
		border-style:	solid;
		border-color:	white;
	}
	.sidebar
	{
		width:	21%;
	}
	.left
	{
		float:	left;
		margin-right: 20px;
	}
	.right
	{
		float:	right;
		margin-left: 20px;
	}
	</style>

</head>
      

<body class="saffron black">
    
  <h1 class="black">Globally Devoted gbobee <span style="font-size: smaller;">.info</span></h1>
  <p><span class="right">Handcrafted by Gauri Rasa
				<br />
				Copyright 2015 Gauri Rasa</span>
  Welcome to Globally Devoted. The site to help you connect to practical resources for daily devotional life.</p>


<p>#{saciMata.debug}</p>
<hr />
<div id="kurukshetraForm" class="show">

    <h:form id="newKurukshetraForm">

	<h3>Add a Kurukshetra (devotee resource)</h3>

      <h:panelGrid columns="2">
        <h:outputLabel value="One Liner : "/>
        <h:inputText value="#{saciMata.newOneLiner}"
        	required="true"
		requiredMessage="Please write a One Liner for the website that you are adding."
		maxlength="256" />

        <h:outputLabel value="Hyperlink to Devotee Resource : "/>
        <h:inputText value="#{saciMata.newUrl}"
        	required="true"
		requiredMessge="Please paste in or type in a URL for the hyperlink to the website you are adding."
		maxlength="1024" />

        <h:outputLabel value="Description : "/>
        <h:inputTextarea value="#{saciMata.newDescription}" cols="64" rows="3"
        	maxlength="2048"/>
      </h:panelGrid>

      <h:commandButton value="Add Kurukshetra" action="#{saciMata.addNewKurukshetra()}">
      </h:commandButton>

    </h:form>
   
</div>
<hr />
<br /><br /><br />

<div id="vishnuForm" class="show">

    <h:form id="newVishnuForm">

	<h3>Add a Vishnu (category)</h3>

      <h:panelGrid columns="2">
        <h:outputLabel value="Short Title : "/>
        <h:inputText value="#{saciMata.newShortTitle}"
        	required="true"
		requiredMessage="this title shows in the sidebars."
		maxlength="16" />

        <h:outputLabel value="Long Title : "/>
        <h:inputText value="#{saciMata.newLongTitle}"
        	required="true"
		requiredMessge="a more descriptive title."
		maxlength="64" />

        <h:outputLabel value="separate keywords by commas :  " />
        <h:inputTextarea value="#{saciMata.newMayContain}" cols="64" rows="2"
        	maxlength="256"/>
      </h:panelGrid>

      <h:commandButton value="Add Vishnu" action="#{saciMata.addNewVishnu()}">
      </h:commandButton>

    </h:form>
   
</div>
<hr />
<br /><br /><br />




<!-- ########   LIST ALL OF THE VISHNUS   ####### -->




	<f:metadata>
		<f:viewParam name="page" value="#{saciMata.page}" />
		<f:viewAction action="#{ saciMata.findPageContentVishnu() }" />
	</f:metadata>

	<span>
	    <h2>#{saciMata.pageTitle}</h2>
	    <h:dataTable id="events" value="#{saciMata.pageContent}" var="kurukshetra" border="0">
	      <h:column>
	        #{kurukshetra.oneLiner}
	        &nbsp;&nbsp;-&nbsp;&nbsp;
	        <h:outputText value="#{kurukshetra.description}"/>
	      </h:column>
	    </h:dataTable>
	</span>





<!--
            
                
              	<br />
              	<a href="http://ikcm.org">International Krishna Caitanya Mission</a>
        	<br />
		<a href="http://www.swami.org">Swami Tripurari | Sri Caitanya Sangha</a>
        	<br />
                <a href="http://www.krishnalounge.com/2015/11/put-it-in-perspective-dude/">Mahat Tattva - Put it in perspective dude</a>
                <br />
                <a href="http://oldchakra.com/2002/04/04/sri.sarasvata.gaudiya/">Sri Sarasvata Gaudiya</a>
		<br />
		<a href="http://purimaharaj.com/pages/GuruMaharaj.htm">Puri Maharaj</a>
		<br />
		<a href="https://i.ytimg.com/vi/-Ad0BTPEs7M/hqdefault.jpg">A Bhakti Yoga Picture</a>
		<br />

		
-->
		
<!--		
<a href="https://www.google.com/search?q=photo+of+Bhakti+Vaibhav+Puri+Maharaja+and+Bhaktivedanta+Swami+Maharaja&rlz=1CAACAG_enUS646US646&espv=2&biw=911&bih=391&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiP8vSUmbDJAhUTzWMKHfmkA44Q_AUIBigB&dpr=1.5#imgrc=vH7IAXK_rMmrCM%3A">
Puri Maharaj</a>
-->

<!--

		<a href="http://www.srikrishnachaitanya.org/SriKrishnaChaitanya/index.php">Sri Krishna Chaitanya</a>
		<br />
		<a href="http://ikcm.org/travel-itinerary.html">Bhakti Vicar Bishnu Maharaj Travel Itinerary</a>
		<br />          
                
                One of my main inspirations in spirituality as proof that Great Leaders need no introduction as their actions speak for themselves:
                <br/>
                <a href="http://www.radhanathswami.com/">radhanathswami.com</a>
                <br/>
                There is a great signiificance and need for the intentional inclusion and supportive resources for those of us who may not fit into the standardized stereotype of what a devotee actually is and proper behavior.
                <br/>
                <a href="http://www.galva108.org/">galva108.org</a>
                <br/>
                <a href="http://vaishnavsongs.iskcondesiretree.com/">Vaishnava Songs Iskcon Desire Tree</a>
                <br/>
                <br/>
                <h4>Grihastas Resources</h4>
                <br />
                <a href="http://btg.krishna.com/krishnanandini-devi-dasi">Krishnanandini Devi Dasi</a>
                <br/>
                <a href="http://www.grihasta.com/">grihasta.com</a>
                <br/>
                I know some of the devotees who participate in leadership within this org and find it to be very encouraging site offering practical guidance for modern day grihastas:
                <br/><a href="http://vaisnavafamilyresources.org/">VaisnavaFamilyResources.org</a>
         
            </div>
-->

</body>
</html>
