<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
      
<!-- copyright 2015, 2016 Gauri Rasa -->     
      
<head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content=" 324170816171-42og7fdufrhcl88u8np0hnmr11g2re6t.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    
	<style>
	body
	{
		font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif ;
	}
	h1, h2, h3, h4, h5
	{
		font-family: "Comic Sans MS", "Comic Sans", cursive ;
	}
	.hide
	{
		display: none;
	}
	.show
	{
		display: inline;
	}
	a:hover
	{
		color: orange;
	} 	
	.black
	{
		background-color:black;
	}
	.saffron
	{
		color:#ffbf80;
	}
	.orange
	{
		background-color: orange;
	}
	.saffronbg
	{
		background-color:#ffbf80;
	}
	.menubox
	{
		padding-top:	20px;
		padding-right:	20px;
		padding-left:	20px;
		padding-bottom:	20px;
		border-width:	1px;
		border-style:	solid;
		border-color:	white;
	}
	.sidebar
	{
		width:	21%;
	}
	.left
	{
		float:	left;
		margin-right: 20px;
	}
	.right
	{
		float:	right;
		margin-left: 20px;
	}
	</style>
</head>
      

<body class="saffron black">

    
  <h1 class="black">Globally Devoted <span style="font-size: smaller;">.info</span></h1>
  <p><span class="right">Handcrafted by Gauri Rasa
				<br />
				Copyright 2015 Gauri Rasa</span>
  Welcome to Globally Devoted. The site to help you connect to practical resources for daily devotional life.</p>


<hr />
<div align="center">the place where gbobees gbobee</div>
<hr />

<!-- should be a https post transmission -->
<h:form id="sendIdTokenStringToServer">
	<h:inputText value="#{ saciMata.idTokenString }">
		<f:ajax event="valueChange" execute="@this" render="@this" />
	</h:inputText>
</h:form>
<!-- should be a https post transmission -->

//how to pass the value of a javascript variable to a jsf inputText value attribute







    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
        
//         //Send the ID token to your server
//         var xhr = new XMLHttpRequest();
//         xhr.open('POST', 'https://yourbackend.example.com/tokensignin');
//         xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
//         xhr.onload = function() {
//           console.log('Signed in as: ' + xhr.responseText);
//         };
//         xhr.send('idtoken=' + id_token);
      };
    </script>
  </body>
</html>